@import "variables";

// COLORS
.text-primary-1 {
  color: $primary-1;
}

.text-primary-2 {
  color: $primary-2;
}

.text-primary-3 {
  color: $primary-3;
}

.text-primary-4 {
  color: $primary-4;
}

.text-secondary-1 {
  color: $secondary-1;
}

.text-secondary-2 {
  color: $secondary-2;
}

.text-secondary-3 {
  color: $secondary-3;
}

.text-secondary-4 {
  color: $secondary-4;
}

.text-white {
  color: $white;
}

// BACKGROUNDS
.bg-primary-1 {
  background: $primary-1;
}

.bg-primary-2 {
  background: $primary-2;
}

.bg-primary-3 {
  background: $primary-3;
}

.bg-primary-4 {
  background: $primary-4;
}

.bg-secondary-1 {
  background: $secondary-1;
}

.bg-secondary-2 {
  background: $secondary-2;
}

.bg-secondary-3 {
  background: $secondary-3;
}

.bg-secondary-4 {
  background: $secondary-4;
}

.bg-white {
  background: $white;
}
