@import "variables";

* {
  font-family: "Roboto Light", sans-serif;
}

.text-light {
  color: rgba(255, 255, 255, .8) !important;
}

.round {
  border-radius: 12px !important;
}

$theme-colors: (
  "primary": $primary-1,
  "secondary": $secondary-1,
  "white": $white
);

$custom-colors: (
  "primary-2": $primary-2,
  "primary-3": $primary-3,
  "primary-4": $primary-4,
  "primary-5": $primary-5,
  "secondary-2": $secondary-2,
  "secondary-3": $secondary-3,
  "secondary-4": $secondary-4,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
