@import "variables";

// FONT-WEIGHT
.font-w-extra-light {
  font-weight: 100 !important;
}

.font-w-light {
  font-weight: 300 !important;
}

.font-w-medium {
  font-weight: 400 !important;
}

.font-w-bold {
  font-weight: 700 !important;
}

.font-w-extra-bold {
  font-weight: 900 !important;
}
