// FONTS
$font-family: "Avenir", sans-serif;

// COLORS
$primary-1: #1e2023;
$primary-2: #303238;
$primary-3: #464a4f;
$primary-4: #888c93;
$primary-5: #6a89cc;

$secondary-1: #0a3d62;
$secondary-2: #3c6382;
$secondary-3: #60a3bc;
$secondary-4: #82ccdd;

$white: #ebedf1;
$red: #D34D4D;

// SPACING
$spacer: 1rem;
$space-1: $spacer * .25;
$space-2: $spacer * .5;
$space-3: $spacer;
$space-4: $spacer * 1.5;
$space-5: $spacer * 3;
$space-6: $spacer * 6;
